$accent-color: #b53471;
$white-color: #ffffff;
$brown-color: #310c24;
$black-color: #1a0612;
$light-brown-color: #511734;

$bx-accent: 0 4px 4px rgba($accent-color, 0.25);
$bx-16: 0 3px 6px rgba(0, 0, 0, 0.16);

$default-font: 'Roboto';

$mobile-size: 480px;
